<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="repositoryDao" class="ai.subut.kurjun.core.dao.api.metadata.RepositoryDAO">
  </bean>

  <bean id="repositoryArtifactDAO" class="ai.subut.kurjun.core.dao.api.metadata.RepositoryArtifactDAO">
  </bean>

  <bean id="repositoryDataService"
           interface="ai.subut.kurjun.core.dao.service.metadata.RepositoryDataService">
    <argument name ="repositoryDao"/>
    <argument name ="repositoryArtifactDAO"/>
  </bean>

</blueprint>
