<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <service id="debFilenameBuilder" interface="ai.subut.kurjun.repo.service.PackageFilenameBuilder">
    <bean class="ai.subut.kurjun.repo.util.DebPackageFilenameManager">
    </bean>
  </service>

  <service id="debFilenameParser" interface="ai.subut.kurjun.repo.service.PackageFilenameParser">
    <bean class="ai.subut.kurjun.repo.util.DebPackageFilenameManager">
    </bean>
  </service>

  <reference id="kurjunProperties" interface="ai.subut.kurjun.common.service.KurjunProperties" />
  <reference id="fileStoreFactory" interface="ai.subut.kurjun.storage.factory.FileStoreFactory"/>
  <reference id="metaStoreFactory" interface="ai.subut.kurjun.metadata.factory.PackageMetadataStoreFactory"/>
  <reference id="releaseIndexParser" interface="ai.subut.kurjun.riparser.service.ReleaseIndexParser"/>
  <reference id="controlFileParser" interface="ai.subut.kurjun.cfparser.service.ControlFileParser"/>
  <reference id="snapParser" interface="ai.subut.kurjun.snap.service.SnapMetadataParser"/>
  <reference id="templateParser" interface="ai.subut.kurjun.subutai.service.SubutaiTemplateParser"/>


  <service interface="ai.subut.kurjun.repo.util.AptIndexBuilderFactory">
    <bean class="ai.subut.kurjun.repo.util.AptIndexBuilderFactoryImpl">
      <argument ref="fileStoreFactory"/>
      <argument ref="metaStoreFactory"/>
    </bean>
  </service>

  <service interface="ai.subut.kurjun.repo.RepositoryFactory">
    <bean class="ai.subut.kurjun.repo.RepositoryFactoryImpl">
      <argument ref="releaseIndexParser"/>
      <argument ref="controlFileParser"/>
      <argument ref="snapParser"/>
      <argument ref="templateParser"/>
      <argument ref="fileStoreFactory"/>
      <argument ref="metaStoreFactory"/>
      <argument>
        <bean class="ai.subut.kurjun.repo.cache.PackageCache">
          <argument ref="kurjunProperties"/>
          <argument ref="fileStoreFactory"/>
        </bean>
      </argument>
    </bean>
  </service>
  
  
</blueprint>