<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="kurjunProperties" interface="ai.subut.kurjun.common.service.KurjunProperties" />

  <service interface="ai.subut.kurjun.metadata.storage.sql.SqlDbPackageMetadataStoreFactory" >
    <bean class="ai.subut.kurjun.metadata.storage.sql.SqlDbPackageMetadataStoreFactoryImpl">
      <argument ref="kurjunProperties" />
    </bean>
  </service>

</blueprint>
