<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="s3FileStore" class="ai.subut.kurjun.storage.s3.S3FileStore">

    <!-- AWS credentials -->
    <argument ref="awsCredentials" />

    <!-- bucket name -->
    <argument value="kurjun-bucket"/>

  </bean>

  <!-- specify AWS credentials here -->
  <bean id="awsCredentials" class="ai.subut.kurjun.storage.s3.AWSCredentialsProvider">
    <property name="accessKey" value="" />
    <property name="secretKey" value="" />
  </bean>

  <service id="s3FileStoreService" ref="s3FileStore"
           interface="ai.subut.kurjun.model.storage.FileStore" />

</blueprint>

