<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="properties" class="${project.groupId}.common.KurjunPropertiesImpl">
  </bean>

  <service id="propertiesService" ref="properties"
           interface="${project.groupId}.common.service.KurjunProperties" />

</blueprint>