<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="kurjunProperties" interface="${project.groupId}.common.service.KurjunProperties" />

  <service interface="${project.groupId}.metadata.storage.file.DbFilePackageMetadataStoreFactory" >
    <bean class="${project.groupId}.metadata.storage.file.DbFilePackageMetadataStoreFactoryImpl">
      <argument ref="kurjunProperties" />
    </bean>
  </service>

</blueprint>
