<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="fsFileStore" class="ai.subut.kurjun.storage.fs.FileSystemFileStore">
    <!-- parent directory for file store -->
    <argument value="/tmp/kurjun/osgi"/>
  </bean>

  <service id="fsFileStoreService" ref="fsFileStore"
           interface="ai.subut.kurjun.model.storage.FileStore"/>

</blueprint>

