<?xml version="1.0" encoding="UTF-8" ?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="kurjunProperties" interface="ai.subut.kurjun.common.service.KurjunProperties" />

  <bean id="fsFileStoreFactory" class="ai.subut.kurjun.storage.fs.FileSystemFileStoreFactoryImpl">
    <argument ref="kurjunProperties"/>
  </bean>

  <service id="fsFileStoreService" ref="fsFileStoreFactory"
           interface="ai.subut.kurjun.storage.fs.FileSystemFileStoreFactory"/>

</blueprint>

