<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="kurjunProperties" interface="ai.subut.kurjun.common.service.KurjunProperties" />

  <bean id="sessionProvider" scope="singleton"
        class="ai.subut.kurjun.metadata.storage.nosql.CassandraSessionProvider">
    <argument ref="kurjunProperties"/>
  </bean>

  <service interface="ai.subut.kurjun.metadata.storage.nosql.NoSqlPackageMetadataStoreFactory" >
    <bean class="ai.subut.kurjun.metadata.storage.nosql.NoSqlPackageMetadataStoreFactoryImpl">
      <argument ref="sessionProvider" />
    </bean>
  </service>

</blueprint>
