<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="module" class="ai.subut.kurjun.snap.SnapMetadataParserModule">
  </bean>

  <bean id="yamlParser" factory-ref="module" factory-method="makeYamlParser">
  </bean>

  <service interface="ai.subut.kurjun.snap.service.SnapMetadataParser">
    <bean class="ai.subut.kurjun.snap.SnapMetadataParserImpl">
      <argument ref="yamlParser"/>
    </bean>
  </service>

</blueprint>
