<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="kurjunProperties" interface="ai.subut.kurjun.common.service.KurjunProperties" />
  <reference id="fsFileStoreFactory" interface="ai.subut.kurjun.storage.fs.FileSystemFileStoreFactory"/>
  <reference id="s3FileStoreFactory" interface="ai.subut.kurjun.storage.s3.S3FileStoreFactory"/>

  <bean id="fileStoreFactory" class="ai.subut.kurjun.storage.factory.FileStoreFactoryImpl">
    <property name="properties" ref="kurjunProperties"/>
    <property name="fileSystemFileStoreFactory" ref="fsFileStoreFactory"/>
    <property name="s3FileStoreFactory" ref="s3FileStoreFactory"/>
  </bean>

  <service ref="fileStoreFactory" interface="ai.subut.kurjun.storage.factory.FileStoreFactory"/>
  
</blueprint>
